@model IEnumerable<pizzaria_reges.Models.Pedido>


<table class="table">
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-warning" role="alert">
            @TempData["Message"]
        </div>
    }
    <h1>Seus pedidos</h1>
    <thead>
        <dl>
    <th>
                Número do pedido
    </th>
    <th>
        Data do pedido
    </th>
    <dl>
    <th>
        Ações
    </th>
    <dl>
        </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PedidoData)
                </td>
                <td>
                    <a type="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a type="button" class="btn btn-primary" data-target="#ShowDetails" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>